/* content */

.world {
    margin: 30px;
    height: auto;
    width: auto;
}

hr {
    border-color: black;
    box-sizing: border-box;
    margin: 0;
    width: 300px;
}

.hr-mid {
    margin-top: 100px;
}

.hr-center {
    transform: rotate(90deg);
    margin-top: 149px;
    margin-right: 350px;
}

.hr-x1 {
    transform: rotate(18deg);
    position: relative;
    bottom: 150px;
    left: 298px;
    width: 1000px;
}

.hr-x2 {
    transform: rotate(-18deg);
    position: relative;
    bottom: 150px;
    left: 298px;
    width: 1000px;
}

.permutation {
    display: inline-block;
    border: 4px solid red;
}

.permutation span {
    font-size: 100px;
    padding-left: 25px;
    padding-right: 25px;
    color: green;
}

.policy {
    font-size: 30px;
    display: flex;
    text-align: center;
}

.policy div {
    width: 55px;
    height: 55px;
    margin-left: 25px;
    border: solid 2px black;
}

.policy p {
    font-size: 30px;
    margin-left: 50px;
}

/* arrows */

.arrow {
    border: solid blue;
    border-width: 0 7px 7px 0;
    display: inline-block;
    padding: 7px;
    margin-top: 15px;
    margin-right: 10px;
}
  
    .right {
        -webkit-transform: rotate(-45deg);
    }

    .left {
        -webkit-transform: rotate(135deg);
        margin-left: 15px;
    }

    .up {
        -webkit-transform: rotate(-135deg);
        margin-left: 10px;
        margin-top: 20px;
    }
    

    .down {
        -webkit-transform: rotate(45deg);
        margin-left: 10px;
    }

    .up-right {
        -webkit-transform: rotate(270deg);
        margin-left: 8px;
    }

    .up-left {
        -webkit-transform: rotate(180deg);
        margin-left: 8px;
    }

    .down-right {
        margin-left: 8px;
    }


    .down-left {
        -webkit-transform: rotate(90deg);
        margin-left: 8px;
    }


/* footer */

.container-fluid {
    padding-right: 0px;
    padding-left: 0px;
}